
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("../dashboard-1/assets/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../dashboard-1/assets/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("../dashboard-1/assets/Roboto/Roboto-Thin.ttf");
}


html, body{
    height: 100vh;
    width: 100vw;
    font-family: "Roboto";
    background:linear-gradient(50deg,rgb(219, 39, 150),rgb(125, 46, 228));
}

*{
    padding: 0;
    margin: 0;
}

.cont{
    height: 50%;
    width: 50%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: lightseagreen;
    border-radius: 15px;
    /* padding: 20px; */
    box-shadow: 8px 8px 15px -5px rgba(105, 105, 105, 0.75),
               -8px -8px 12px -4px rgba(233, 233, 233, 0.75);

}

.header{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
    background-color: lightskyblue;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.add-task-cont{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

#new-task{
    width: 60%;
    margin-right: 20px;
    border: 1px solid lightseagreen;
    border-left: 5px solid green;
    border-radius: 5px;
    padding-left: 10px;

    &:hover{
        border: 2px solid green;
        border-left: 5px solid green;
        box-shadow: 0px 0px -5px green;
    }
}


.add-btn{
    padding: 5px 15px;
    font-weight: 700;
    border:none;
    border-radius: 5px;
    background-color: darkgreen;
    color: lightblue;
}

.add-btn:hover{
    color: whitesmoke;
    background-color: rgb(52, 129, 52);
    scale: 1.1;
    cursor: pointer;
    box-shadow: 1px 1px 4px 0px green,
            -1px -1px 4px 0px rgb(218, 241, 179);

}

.add-btn:active{
    background-color: brown;
}

.add-btn:disabled{
    background-color: lightslategray;
}

.add-btn:disabled:hover{
    cursor: not-allowed;
    scale: 1;
    box-shadow: none;
}

.add-btn::before{
    content: '+';
    text-align: center;
    font-size: 1.1rem;
    font-weight: 900;
    color: whitesmoke;
    position:relative;
    top: 0px;
    line-height: 15px;
    height: 100px;
    width: 100px;
    left: -5px;
}

.list-cont{
    padding: 20px 30px 10px ;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;

}

.list-group {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
}

.list-group li{
    font-weight: 400;
    font-size: 1rem;
    padding: 2px 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;    
}

.list-group li:hover{
    background-color: rgba(30, 226, 216, 0.623);
}

.delete-x{
    padding: 0px 5px;
    background-color: red;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    color: azure;
    align-self: flex-start;
    margin-left: 2px;
    
    &:hover{
        background-color: brown;
        cursor: pointer;
    }

    &:active{
        background-color: lightcoral;
    }
}

.list-item{
    display: inline;
    margin-right: 5px;
}

.list-item:checked + label{
    text-decoration: line-through;
}
