body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    margin: 0;
  }

.cont{
    width: 100%;
}

header{
  display: block;
  height: 80px;
  font-size: 45px;
  padding:  25px 50px 5px;
  font-weight: 800;
  letter-spacing: 5px;
  color: #ddd;
  background-color: brown;

}

.add-book{
  display: block;
  margin: 30px;
  padding: 10px 50px;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid grey;
  border-radius: 5px;
}


.add-book:hover{
  background-color:rgb(163, 72, 72);
  color: #ddd;
  cursor: pointer;
}

  table{
    table-layout: fixed;
    border: 1px solid dimgray;
    border-collapse: collapse;
    margin: 20px auto;
  }

  td, th{
    padding: 5px 10px;
    border: 1px solid dimgray;
  }

  td{
    width:150px;
  }

  td:nth-child(3){
    text-align: center;
  }

  td:nth-child(4),  td:nth-child(5){
    width: auto;
  }

  td > input{
    height: 0;
    width: 0;
    display: block;
  }

  td label{
    display: block;
    background-color: dimgray;
    box-shadow: inset -1px -1px 5px #333, inset 1px 1px 5px darkgray;
    height: 20px;
    width: 40px;
    position: relative;
    border-radius: 10px;
  }

  td input + .toggle-read::after{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #eee;
    display: block;
    margin:2.4px;
    transition: all 1s;
  }

  td input:checked + .toggle-read::after{
    right: 0px;
  }


  th{
    border: 1px solid black;
    background-color: rgb(184, 232, 248);
  }

  .remove-btn{
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: rgb(163, 72, 72);
    color: #eee;
  }

  .remove-btn:hover{
    background-color: brown;
    cursor: pointer;
  }

  .modal{
    display: flex;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 1;
    background-color: rgba(136, 136, 136, 0.404);
  }

  .modal span{
    padding: 0px 30px;
    font-size: 1.2em;
    font-weight: 900;
  }

  .modal  .close-btn{
    align-self: flex-end;
    padding: 5px 12px;

    &:hover{
      color: brown;
      cursor: pointer;
    }
  }

  .form-cont{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: fit-content;
    width: 460px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px lightgray;
    overflow: hidden;
    background-color: aliceblue;
  }

  form{
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: calc(100%-30px);
    padding: 30px;  
  }


  form > div{
    padding: 5px 0;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 5px
  }

  div > label{
    background-color: inherit;
    /* min-width: 200px; */
  }

  div >input {
    display: inline-block;
    border-radius: 1px;
    border: 1px solid darkgrey;
    padding: 2px;
    /* max-width: 100%; */
  }

  input:placeholder-shown{
    color: brown;
    padding-left: 10px;
  }


  form button{
    width: 50%;
    grid-column: 1/3;
    justify-self: center;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid dimgray;
    font-weight: 900;
    letter-spacing: 0.8px;
    padding: 5px 0;

    &:hover{
      background-color: dimgray;
      color: aliceblue;
      cursor: pointer;
    }

    &:disabled{
      background-color: lightgrey;
      color: grey;
      border-color: gray;
    }

    &:disabled:hover{
      cursor: not-allowed;
    }
  }